<p>top-section works!</p>
<div class="top-section" [style.backgroundColor]="backColor" [style.boxShadow] = "shadow">
    <nav>
        <ul class="nav-list">
            <li>
                <a class="ssilka" href="#">ssilka1</a>
            </li>
            <li>
                <a class="ssilka" href="#">ssilka2</a>
            </li>
            <li>
                <a class="ssilka" href="#">ssilka3</a>
            </li>
        </ul>
    </nav>
        <button (click)="changeShadowColor()">changeBackCo</button>
        <button (click)="textChange()">changeTextInSsilk</button>
</div>

