<div class="hello">Привет ангуляр {{title}} </div>
<p>
  <a href="#" title={{tooltip}}>{{text}}</a>
  <br>
  <a href="#" [title]='tooltip'>ghbdtn</a>
</p>
<br>
<br>
<br>
<br>
<app-top-section [backColor]="backColor" (ChangeSsilText)="setNewSsilName($event)"></app-top-section>
<br>
<br>
<br>
<app-middle-section  style="border: 1px solid red; width: 800px; height: 200px; display: block;">
<div class="pidor">ghbdtn</div>
<app-child></app-child>
</app-middle-section>
<br>
<br>
<br>
<br>
<br>

<ul>
  <li>{{user.name}}</li>
  <li>{{user.age}}</li>
</ul>
<ul>
  <li>{{user.name | uppercase}}</li>
  <li>{{user | json}}</li>
</ul>

<p>{{ "Lorem ipsum dolor, sit amet consectetur adipisicing elit.Sunt non rem consequuntur minima culpa repellat nihilConsequatur, eos totam voluptates,consequuntur obcaecati odio, assumenda quidem temporibus facere quasi." |cutText:50}}</p>

<br>

<p>{{arrOfAges | sortArray : 'age' | json}}</p>
<button (click)="handleClick()">add</button>

<br>
<div class="some-class" [style.color]="color">text text textt yty</div>
<div class="container">
  <button (click)="changeColor('yellow')">change on yellow</button>
  <button (click)="changeColor('red')">change on red</button>
  <button (click)="changeColor('default')">default</button>
</div>
<br>
