<div class="hello">Привет ангуляр {{title}} </div>
<p>
  <a href="#" title={{tooltip}}>ghbdtn</a>
  <br>
  <a href="#" [title]='tooltip'>ghbdtn</a>
</p>

<ul>
  <li>{{user.name}}</li>
  <li>{{user.age}}</li>
</ul>
<ul>
  <li>{{user.name | uppercase}}</li>
  <li>{{user | json}}</li>
</ul>

<p>{{"Lorem ipsum dolor, sit amet consectetur adipisicing elit.Sunt non rem consequuntur minima culpa architecto repellat nihil? Consequatur, eos totam voluptates,consequuntur obcaecati odio, assumenda quidem temporibus facere quasi." | cutText : 50}}</p>